
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <link href="/admin/sidebar.css" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <script src="/admin/sidebar.js"></script>
        <script src="/admin/adminScrpt.js"></script>

     
    </head>

    <body>

        <div id="sidebar-waper">
            <div class="togle-btn" onclick="sidebartoggle()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="sidebar-menue">
            <li class="Dashboard"><a href="../india/admin"> <i class="fa fa-dashboard" aria-hidden="true"></i><span> Dashboard</span></a></li>
            <li><a href="#" onclick=""><i class="fa fa-file-text" aria-hidden="true"></i> <span>Cetegori</span></a></li>
            <li><a href="#" onclick=""><i class="fa fa-bar-chart" aria-hidden="true"></i> <span>Menue Items</span></a></li>
            <li><a href="#" onclick=""><i class="fa fa-bars" aria-hidden="true"></i> <span>Orders</span></a></li>
            <li class="Logout"><a href="/india/admin/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span> Logout</span></a></li>
            </ul>
        </div>

        <div id="main-content">   
            <div  id="cityPriceModule">
                

            </div>


        </div>
    
           
           
           
           
    
       

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
